body {
    margin-bottom: 100px;
    margin-right: 0px;
    padding-top:100px;
    font-family: 'opensans', 微软雅黑;
  
}
h1, .h1, h2, .h2, h3, .h3{
    color: #34373c;
}
h2.OUR-CLIENTS-SECTION-TITLE-TEXT.text-center{
    color: #fff;
}

a{
    cursor: pointer;
    transition: color 0.3s;
    color: #000;
    font-family: 'opensans';
}

a:hover{
    text-decoration: none;
    color: #EE852b
}
.btn{
    border-radius: 0px;
    border: none;
    transition: background 0.3s;

}

.row {
    margin: 20px 0px 20px 0px;
    padding: 100px 0;
    border-bottom: 1px solid #dddddd;
}

#contactModal {
    overflow-y: scroll;
}

.err-msg {
    color: red;
}

.modal-dialog {
    margin-bottom: 0px;
}

.contact-us-btn {
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.contact-us-modal {
    width: 600px;
    left: 100%;
    margin-left: -600px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    -ms-transition:all 1s ease;
    transition:all 1s ease;
    -moz-transform: translateX(800px);
    -webkit-transform: translateX(800px);
    -o-transform: translateX(800px);
    -ms-transform: translateX(800px);
    transform: translateX(800px);
    opacity: 0.8;
}

.contact-modal-slide-up {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

@media (max-width: 768px) {
    .row {
        padding: 0px;
    }

    .contact-us-modal {
        width: auto;
        margin-left: 0px;
        left: 0px;
    }

    .modal-dialog {
        margin: 0px;
    }
}

