.lineH{
  line-height: 30px;
  margin-bottom: 30px;
}

.container-solutions td{
  padding:10px;
  border: 1px solid #ddd;
}

.contactUs {
    margin-top: 20px;
}
.highlight{
  color: #2977a8;
}
.line{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.solution-table{
  background: #fff;
}

