
.navbar{
    margin-bottom: 0;
    border: none;
}

.nav-container {
    padding-left: 8%;
    padding-right: 8%;
}

.form-control{
    border-radius: 0px;
    box-shadow: none;
    height: 30px;
}

.navbar.navbar-default.navbar-fixed-top {
    background: white;
}

.navbar.navbar-default.navbar-fixed-top .navbar-header {
    height: 100px;
}

.navbar.navbar-default.navbar-fixed-top img {
    display: inline-block;
    width: 15%;
}

.navbar.navbar-default.navbar-fixed-top .company-name {
    margin-top: 10px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0px;
    font-family: 'opensans', 微软雅黑;
    margin-left: 15px;
    color: #34373c;
}

.navbar-default .navbar-nav .selected a {
    color: #EE852b !important;
}

.navbar-default .navbar-nav>li>a{
    color: #34373c;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#EE852b;
}
a.navbar-brand{
    margin-top: 15px;
}

ul.nav.navbar-nav.navbar-right{
    margin-top: -20px;
}

.lang-switch {
    text-align: right;
    font-size: 12px;
}

.lang-switcher.active {
    color: #EE852b;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #fff;
    border: none;
}

span.lang-switcher{
    padding: 0 10px;
}

.form-control.search-input-box {
    display: none;
}

.search-input-button {
    margin-top: 11px;
    margin-left: 10px;
}

.navbar-toggle{
    padding: 9px;
    border: none;
    margin-top: 12px;
}
.navbar-nav{
    margin-top: 25px;
    font-size: 15px;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #34373c;
}

.nav-menu {
    position: fixed;
    top: 100px;
    background: #f3f6fa;
    width: 100%;
    z-index: 1040;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.nav-menu .menu-item {
    display: inline-block;
    width: 200px;
    padding: 20px;
}

.solutions-menu {
    display: none;
}

.about-menu {
    display: none;
}

button.navbar-toggle.collapsed {
    border-radius: 0;
}


@media (max-width: 768px) {
    .row {
        padding: 10px 0;
    }
    .navbar.navbar-default.navbar-fixed-top .company-name {
        display: inline-block;
        margin-left: 0;
        font-size: 12px;
    }
    .navbar.navbar-default.navbar-fixed-top img {
    display: block;
}

    a.navbar-brand {
    margin-top: 6px;
    }
    span.lang-switcher{
        padding-left: 0;
    }
    .navbar-right {
        padding-top: 4px;
        margin-left: -13px;
        margin-right: -8%;
    }
}

@media (max-width: 748px) {
    .search-input-button {
        margin-left: 20px;
    }

    .form-control.search-input-box {
        display: inline-block;
        float: left;
        width: 80%;
        margin-left: 14px;

    }
}
@media (min-width: 1024px){
    .navbar-right{
        margin-top: 0;
    }

}
