
input.form-control.search-input-box {
    margin-bottom: 6px;
    margin-right: 6px;
}

input.form-control.search-input-box{
    margin-bottom: 6px;
    margin-right: 6px;
}

h2.SOLUTIONS-TEXT.text-center{
    margin: 70px 0 30px 0;
}

.banner-image {
    width: 100%;
}

.imsg-mobile {
    display: none;
}

.col-sm-6.col-md-6.text {
    padding: 0px 8%;
}

.col-sm-6.col-md-6 img {
    text-align: center;
    width: 118px;
    height: 100px;
}
.col-sm-6.col-md-6 h3 {
    color: #2977a8;

}
.col-sm-6.col-md-6 h4 {
    line-height: 40px;
    font-weight: 600;
}
.bugu-icon{
    width: 160px !important;
}

.page-header {
    padding: 0px 10%;
}

.clients .thumbnail {
    height: 150px;
    border: 0px;
}

.jum-top-banner {
    background: url(../images/jumbotron.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 10% 8%;
    position: relative;
}

.jum-top-banner h2 {
    margin: 10px 0px;
    color: #fff;
    font-family: 'opensans', 微软雅黑;
    font-weight: bold;
    font-size: 35px;
    width: 50%;
    line-height: 43px;
}

.jum-top-banner p {
    margin: 10px 0px;
    color: white;
    font-family: 'opensans', 微软雅黑;
    padding-bottom: 20px;
    font-size: 18px;
    padding-top: 10px;
    width: 49%;
    line-height: 30px;
}

.jumbotron-learn-more {
    background-color: #EE852b;
    font-size: 18px;
    width: 160px;
    padding: 10px 0;
}

.learn-more-link {
    color: #EE852B;
}
.learn-more-link:hover {
    color: #2977a8;
}
.banner-icon1 {
    width: 33%;
    height: auto;
    position: absolute;
    right: 11%;
    top: 12%;
    animation: banner-icon1-show 2s;
    -moz-animation: banner-icon1-show 2s;	/* Firefox */
    -webkit-animation: banner-icon1-show 2s;	/* Safari 和 Chrome */
    -o-animation: banner-icon1-show 2s;
}

.banner-icon2 {
    width: 39%;
    height: auto;
    position: absolute;
    right: 7%;
    top: 13%;
    animation: banner-icon2-show 2s;
    -moz-animation: banner-icon2-show 2s;	/* Firefox */
    -webkit-animation: banner-icon2-show 2s;	/* Safari 和 Chrome */
    -o-animation: banner-icon2-show 2s;
}


.our-clients-container {
    background: url(../images/clientsbg.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

.our-clients-container .thumbnail {
    background-color: transparent;
}

.product-icon-container {
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    -ms-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
    -moz-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
}

.product-icon-container.normal {
    opacity: 1;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

@media (max-width: 768px) {
    .col-xs-6.col-md-2.text-center{
        margin: 5px 0 10px 0;
    }

    .our-clients-container{
        padding-bottom: 0;
    }

    .jum-top-banner h2{
        font-size: 22px;

    }
    .jum-top-banner p{
        font-size: 15px;

    }

    .bugu-icon{
        width: 36% !important;
    }
    .col-sm-6.col-md-6 img{
        width: 20%;
        margin-bottom: 10px;
    }
    .col-sm-6.col-md-6 h3{
        margin-top: 0;
        font-size: 23px;
        line-height: 10px;
        margin-bottom: 30px;
    }

    .col-sm-6.col-md-6 h4 {
        line-height: 30px;
        font-weight: 600;
    }

    .jumbotron-learn-more{
        width: 140px;
    }

    #contact-modal-btn {
    font-size: 15px;
    
    }

}

@media (max-width: 748px) {
    .imsg-mobile {
        display: block;
    }

    .imsg-pc {
        display: none;
    }

    .banner-icon1 {
        display: none;
    }

    .banner-icon2 {
        display: none;
    }

    .jum-top-banner {
        text-align: center;
    }

    .jum-top-banner h2 {
        width: 100%;
    }

    .jum-top-banner p {
        width: 100%;
    }
}


@keyframes banner-icon1-show {
    from {
        opacity: 0;
        top: 5%;
    }
    to {
        opacity: 1;
        top: 12%;
    }
}

@-moz-keyframes banner-icon1-show /* Firefox */
{
    from {
        top: 5%;
        opacity: 0;
    }
    to {
        top: 12%;
        opacity: 1;
    }
}

@-webkit-keyframes banner-icon1-show /* Safari 和 Chrome */
{
    from {
        top: 5%;
        opacity: 0;
    }
    to {
        top: 12%;
        opacity: 1;
    }
}

@-o-keyframes banner-icon1-show /* Opera */
{
    from {
        top: 5%;
        opacity: 0;
    }
    to {
        top: 12%;
        opacity: 1;
    }
}

@keyframes banner-icon1-show {
    from {
        top: 5%;
        opacity: 0;
    }
    to {
        top: 12%;
        opacity: 1;
    }
}

@-moz-keyframes banner-icon1-show /* Firefox */
{
    from {
        top: 5%;
        opacity: 0;
    }
    to {
        top: 12%;
        opacity: 1;
    }
}

@-webkit-keyframes banner-icon1-show /* Safari 和 Chrome */
{
    from {
        top: 5%;
        opacity: 0;
    }
    to {
        top: 12%;
        opacity: 1;
    }
}

@-o-keyframes banner-icon1-show /* Opera */
{
    from {
        top: 5%;
        opacity: 0;
    }
    to {
        top: 12%;
        opacity: 1;
    }
}

@keyframes banner-icon1-show {
    from {
        top: 5%;
        opacity: 0;
    }
    to {
        top: 12%;
        opacity: 1;
    }
}

@-moz-keyframes banner-icon1-show /* Firefox */
{
    from {
        top: 5%;
        opacity: 0;
    }
    to {
        top: 12%;
        opacity: 1;
    }
}

@-webkit-keyframes banner-icon1-show /* Safari 和 Chrome */
{
    from {
        top: 5%;
        opacity: 0;
    }
    to {
        top: 12%;
        opacity: 1;
    }
}

@-o-keyframes banner-icon1-show /* Opera */
{
    from {
        top: 5%;
        opacity: 0;
    }
    to {
        top: 12%;
        opacity: 1;
    }
}

@keyframes banner-icon2-show {
    from {
        top: 30%;
        opacity: 0;
    }
    to {
        top: 14%;
        opacity: 1;
    }
}

@-moz-keyframes banner-icon2-show /* Firefox */
{
    from {
        top: 30%;
        opacity: 0;
    }
    to {
        top: 14%;
        opacity: 1;
    }
}

@-webkit-keyframes banner-icon2-show /* Safari 和 Chrome */
{
    from {
        top: 30%;
        opacity: 0;
    }
    to {
        top: 14%;
        opacity: 1;
    }
}

@-o-keyframes banner-icon2-show /* Opera */
{
    from {
        top: 30%;
        opacity: 0;
    }
    to {
        top: 14%;
        opacity: 1;
    }
}